venv/
env/


__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so
poetry.lock


*.sqlite3


local_settings.py
db.sqlite3
media/
staticfiles/
*.pot
*.pyc


.env
*.env


.vscode/
.idea/
*.swp


*.egg-info/
dist/
build/


*/migrations/__pycache__/
*/migrations/*.pyc


htmlcov/
coverage.xml
*.cover


.DS_Store
Thumbs.db
